
body {
  background-color: #f7be94;
}

h1 {
  color: #785841;
}

p {
  color: #753e16;
}

ul {
  list-style-type: none;
  padding: 1em;
  background-color: #9EC8EE
  overflow: hidden;
}


li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: .3em;
  font-size: 1.3em;
  font-family: Lucida Handwriting;
}

li a:hover {
  background-color: #9EC8EE;
}

